<%- include Layouts/header.ejs %>
 <h1>ok ok</h1>
 <h1>-</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price(Frw)</th>
                        <th class="text-center">Total(Frw)</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                  <%if(items){%>
                    <%items.forEach(function(item){%>
                    <tr>
                  <form class="" action="/cart/update/<%-item.productID%>" method="post">
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="/images/<%-item.pic%>"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#"><%-item.productName%></a></h4>
                                <h5 class="media-heading"> Size <a href="#"><%-item.size%></a></h5>
                                <span>Category: </span><span class="text-success"><strong><%-item.model%></span>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="number" name="qty" class="form-control" id="exampleInputEmail1" value="<%-item.quantity%>">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong> <%-item.unitPrice%></strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong><%-item.quantity * item.unitPrice%></strong></td>
                        <td class="col-sm-1 col-md-1">

                        <button type="submit" class="btn btn-info">
                            <span class="glyphicon glyphicon-delete"></span> update
                        </button>

                      </td>
               </form>

                     <form class="" action="/cart/delete/<%-item.productID%>" method="post">
                       <td class="col-sm-1 col-md-1">
                       <button type="submit" class="btn btn-danger">
                           <span class="glyphicon glyphicon-remove"></span> Remove
                       </button></td>
                     </form>


                    </tr>
                    <%})%>
                    <%}%>

                    <tr>

                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong><%-total%>Frw</strong></h5></td>
                    </tr>
                    <tr>

                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>0</strong></h5></td>
                    </tr>
                    <tr>

                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong><%-total%>Frw</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                          <a href="/">
                        <button type="button" class="btn btn-info">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </button></td>
                        </a>
                        <td>
                          <a href="/cart/checkout">
                        <button type="button" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button> </a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
